<div class="container">

<!--   <ul class="list-group">
    <li routerLink="customer" routerLinkActive="active" class="list-group-item">customer
    </li>
    <li routerLink="otro" routerLinkActive="active" class="list-group-item">customer
    </li>
    <li routerLink="otro" routerLinkActive="active" class="list-group-item">customer
    </li>
    <li></li>
</ul> -->
<!-- <app-asistente-virtual class="container"></app-asistente-virtual> -->
<app-customer-support class="container"></app-customer-support>
<!-- <app-marketing-chat class="container"></app-marketing-chat> -->


  <!-- Sidebar -->
<!--   <app-sidebar></app-sidebar>   -->

  <!-- End Sidebar -->
<!--  <app-gifs-page class="container"></app-gifs-page> -->
<!-- <router-outlet>

</router-outlet> -->

</div>
  


