<div class="container">

<!--   <ul class="list-group">
    <li routerLink="customer" routerLinkActive="active" class="list-group-item">customer
    </li>
    <li routerLink="otro" routerLinkActive="active" class="list-group-item">customer
    </li>
    <li routerLink="otro" routerLinkActive="active" class="list-group-item">customer
    </li>
    <li></li>
</ul> -->

<app-customer-support class="container"></app-customer-support>


  <!-- Sidebar -->
<!--   <app-sidebar></app-sidebar>   -->

  <!-- End Sidebar -->
<!--  <app-gifs-page class="container"></app-gifs-page> -->
<!-- <router-outlet>

</router-outlet> -->

</div>
  


