<div class="container">
    <div class="row ">
        <div class="d-flex justify-content-end">
            <input class="form-control me-1 " type="search" [(ngModel)]="promptText"
                placeholder="Introduzca el texto..." aria-label="Search">             

          <!--   <button class="btn btn-outline-secondary me-1" type="submit" (click)="checkResponse()">Buscar</button> -->
            <button class="btn btn-outline-secondary me-1" type="submit" #myButton (click)="checkResponse()">Buscar</button>
            <button class="btn btn-outline-secondary me-1" type="submit" #myButton (click)="escuchar()">audio</button>
        </div>
    </div>
    <button  class="btn btn-outline-danger me-1" (click)="cancelarHablar()">X</button>
    <button  class="btn btn-outline-danger me-1" (click)="pausarHablar()">||</button>
    <button  class="btn btn-outline-danger me-1" (click)="reanudarHablar()">></button>
    <br>
    <div class="col-md-12">
        <div class="d-flex justify-content-end">

        </div>
    </div>

    <div class="col-md-12">
        <br>
        <div class="card">
            <h4 class="card-header center neon_1">Chat marketing</h4>
            <div class="card-body">
                <h6 class="card-title text-success center"></h6>
                <div class="row">
                    <div class="col-md-12"></div>
                    <div class="col-md-12">
                        <div class="frame-box">
                            <div><img src="../../assets/ZNeT.gif" *ngIf="showSpinner" width="50px" height="50px">
                                <div *ngFor="let item of chatConversation">
                                    <p class="card-text padding" [ngClass]="item.cssClass">
                                        <b>{{item.person}}:</b> {{getText(item.response)}}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>